:root{
  --blanco: hsl(0, 0%, 100%);
  --negro: hsl(0, 0%, 0%);
  --azul: hsl(216, 55%, 58%);
  --azulTransparente: hsla(216, 65%, 34%, 0.3);
}

@font-face {
  font-family: 'Merriweather_Light';
  src: local('Merriweather_Light') url('./assets/fonts/merriweather/MerriweatherSans-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather_Medium';
  src: local('Merriweather_Medium') url('./assets/fonts/merriweather/MerriweatherSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather_Bold';
  src: local('Merriweather_Bold') url('./assets/fonts/merriweather/MerriweatherSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_ligth';
  src: local('Roboto_ligth') url('./assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Regular';
  src: local('Roboto_Regular') url('./assets/fonts/roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: local('Roboto_Bold') url('./assets/fonts/roboto/static/Roboto-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: sans-serif;
}
