:root {
  --color1: rgb(30, 63, 174);
  --color2: rgb(59, 130, 246);
  --color3: rgba(30, 64, 175, 0.8);
  --color4: rgba(59, 130, 246, 0.8);
  --color5: rgb(3, 13, 46);
  --width-1200: clamp(300px, 100%, 1200px);
}

body{
  background: rgb(255, 255, 255);
  color: #000;
}

.dark body {
  background: rgb(3, 13, 46);
  color: #ccc;
}
